gencast/.venv
gencast/data/*
gencast/maps/*
gencast/params/*
gencast/static/*
gencast/stats/*
gencast/outputs/*

panguweather/.venv
panguweather/data/*
panguweather/maps/*
panguweather/params/*
panguweather/static/*
panguweather/stats/*
panguweather/outputs/*
*.onnx
*.grib*
*.grib2*

.draft